<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Thymeleaf</title>
</head>
<body>
    <h1 th:text="${mensajeBienvenida}">Titulo de relleno</h1>
    <p>Hola, <span th:text="${nombre}">nombre</span>, bienvenido al sistema!</p>
    <hr>
    <h3>Menú de navegación</h3>
    <ul>
        <li><a th:href="@{/saludo}">Ver saludo dinámico</a></li>
        <li><a th:href="@{/catalogo}">Ver catálogo de videojuegos</a></li>
    </ul>
</body>
</html>